<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9UzvzxV7tUKqym8KlMHTgJ-Zk6I1R4W4</string>
	<key>GCM_SENDER_ID</key>
	<string>764760717435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abong.testbeincom</string>
	<key>PROJECT_ID</key>
	<string>testbeincom</string>
	<key>STORAGE_BUCKET</key>
	<string>testbeincom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764760717435:ios:4e941269fda835204a4ade</string>
</dict>
</plist>